<a href="https://colab.research.google.com/github/N1colasFD/Data_science_aplicada_reto_twitter/blob/main/Reto_mr_chips.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aplicando Data science a este reto

Imagina 50.000 goles almacenados así

Busco la pareja goleador-asistente que más veces le marcó a un mismo portero de un mismo equipo

https://twitter.com/dgomezb10/status/1583553562939793410

In [1]:
#importacion archivo
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [2]:
import pandas as pd

In [3]:
%matplotlib inline
pd.options.display.min_rows = 12

In [11]:
df = pd.read_excel('/content/drive/MyDrive/Programacion/Bases de datos/Reto_mr_chips_twitter.xlsx')
df.head(4)

,ID GOL,GOLEADOR,club_goledor,asistencia,portero,club_portero
0,9459,DZEKO,lnter Milan,"CORREA, CJ.","STANEK, J.",FC Viktoria Plzen
1,9460,"DUMFRIES, D.",lnter Milan,DZEKO,"STANEK, J.",FC Viktoria Plzen
2,9461,PAULINHO J.,Sporting CP,"GONCALVES, P.",LLORIS,Tottenham Hotspur FC
3,9462,ARTHUR GOMES,Sporting CP,NaN,LLORIS,Tottenham Hotspur FC

In [12]:
df.groupby(['GOLEADOR','asistencia']) #explicacion mas adelante

In [13]:
#como en el Dataset original no existen 'repetidos' solo saldran valores en 1 
df.groupby(['GOLEADOR','asistencia']).portero.value_counts().sort_values(ascending = False)

GOLEADOR        asistencia       portero
ANDRICH, R.     FRIMPONG, J.     GRBIC, l.          1
BELLINGHAM      REUS             EDERSON S.         1
STONES, J.      DE BRUYNE        MEYER, A.          1
STERLING        AUBA MEYANG      KOHN, P.           1
SOWAH, K.       JUTGLA, F.       DIOGO COSTA        1
SKOV OLSEN      MEIJER , B.      DIOGO COSTA        1
SANE, L.        MIUSIALA, J.     TER STEGEN         1
SALAH           JOTA, D.         PASVEER, R.        1
SAELEMAEKERS    RAIFAEL LEAO     LIVAKOVIC, D.      1
RASPADO R!, G.  OLIVERA , M.     MCGREGOR           1
POBEGA, T.      THEO HDEZ.       LIVAKOVIC, D.      1
PAULINHO J.     GONCALVES, P.    LLORIS             1
ORSIC, M.       PETKOVIC, B.     MAIGNAN, M.        1
OKAFOR, N.      CHUKWUBUIKE, A.  ARRIZABALAGA       1
NORDBY, A.      NIELSEN, C.      DIOGO COSTA        1
NEYMAR          VERRATT I        COHEN, J.          1
NDOMBELE, T.    Z. ANGUISSA      MCGREGOR           1
MUDRYK, M.      SUDAKOV, H.      HART, J.           1
MILIK           PAREDES, L.      VLACHOD IMOS       1
MBAPPE, K.      MESSI            COHEN, J.          1
MAT IP          TSIMIKAS, K.     PASVEER, R.        1
MARCO ASENSIO   KROOS            GULACS I, P.       1
LUCAS           KIMMICH, J.      TER STEGEN         1
KUDUS, M.       BERGWIJN         ALISSON            1
HALAND , E.     CANCELO, J.      MEYER, A.          1
GNABRY          GORETZKA         TVRDON, M.         1
DZEKO           CORREA, CJ.      STANEK, J.         1
DUMFRIES, D.    DZEKO            STANEK, J.         1
DIABY , M.      FRIMPONG, J.     GRBIC, l.          1
CHERY, T.       HAZIZA , D.      DONNARUMMA , G.    1
BONDARENKO, A.  HATATE, R.       TRUBIN, A.         1
VALVERDE D.     VINICIUS JR.     GULACS I, P.       1
Name: portero, dtype: int64

In [14]:
df[['GOLEADOR','asistencia','portero']].drop_duplicates().head()
#Una operación común en SQL es el select distinct, que nos devuelve los valores únicos (sin duplicados) de la consulta que le hayamos hecho.

       GOLEADOR     asistencia      portero
0         DZEKO    CORREA, CJ.   STANEK, J.
1  DUMFRIES, D.          DZEKO   STANEK, J.
2   PAULINHO J.  GONCALVES, P.       LLORIS
3  ARTHUR GOMES            NaN       LLORIS
4    JUTGLA, F.            NaN  DIOGO COSTA

Como la tabla solo tiene 40 registros, realizaremos un codigo para aumentar aleatoriamente los datos a 50.000 ⚾

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID GOL        41 non-null     int64
 1   GOLEADOR      41 non-null     object
 2   club_goledor  41 non-null     object
 3   asistencia    32 non-null     object
 4   portero       41 non-null     object
 5   club_portero  41 non-null     object
dtypes: int64(1), object(5)
memory usage: 2.0+ KB

In [17]:
#1. Renombremos unas variables
df.rename(columns = {'ID GOL':'id_gol',
          'GOLEADOR':'goleador'}, inplace = True)

#podriamos usar Janitor, pero no son muchas variables, asi pues usaremos un metodo mas 'simple'

In [18]:
df.head(2)

,id_gol,goleador,club_goledor,asistencia,portero,club_portero
0,9459,DZEKO,lnter Milan,"CORREA, CJ.","STANEK, J.",FC Viktoria Plzen
1,9460,"DUMFRIES, D.",lnter Milan,DZEKO,"STANEK, J.",FC Viktoria Plzen

In [19]:
#2. Realizamos una inspeccion del tipo de variable. 
df.dtypes
# Todo bien

id_gol           int64
goleador        object
club_goledor    object
asistencia      object
portero         object
club_portero    object
dtype: object

In [20]:
#3. Comprobamos si los nulos afectaran nuestro diagnostico
df.isna().mean().sort_values(ascending = False) * 100
#todo bien
#Para este DataSet es mejor dejarlos así

asistencia      21.95122
id_gol           0.00000
goleador         0.00000
club_goledor     0.00000
portero          0.00000
club_portero     0.00000
dtype: float64

## podriamos quedarnos realizando Calidad de los datos pero por ahora pasemos al codigo que multiplicara el dataframe

In [21]:
from random import sample

#creamos un nuevo DataFrame
Df_5k = pd.DataFrame()

In [22]:
#Creamos un ciclo FOR que recorra el df original 5000
for i in range(5000):
#usamos la funcion concat y sample Dejo la documentacion
  Df_5k = pd.concat([Df_5k, df.sample(10)], ignore_index = True)

https://www.geeksforgeeks.org/python-random-sample-function/

In [23]:
Df_5k

,id_gol,goleador,club_goledor,asistencia,portero,club_portero
0,9475,"BONDARENKO, A.",Celtic FC,"HATATE, R.","TRUBIN, A.",FK Shakhtar
1,9497,"NDOMBELE, T.",SSC Napoli,Z. ANGUISSA,MCGREGOR,Rangers FC
2,9471,"ANDRICH, R.",Bayer Leverkusen,"FRIMPONG, J.","GRBIC, l.",Atlético Madrid
3,9495,NEYMAR,PSG FC,VERRATT I,"COHEN, J.",Maccabi Haifa FC
4,9474,MAT IP,Liverpool FC,"TSIMIKAS, K.","PASVEER, R.",AFC Ajax
5,9489,"MBAPPE, K.",PSG FC,MESSI,"COHEN, J.",Maccabi Haifa FC
...,...,...,...,...,...,...
49994,9491,VALVERDE D.,Real Madrid CF,VINICIUS JR.,"GULACS I, P.",RB Leipzig
49995,9463,"JUTGLA, F.",Club Brugge KV,NaN,DIOGO COSTA,FC Porto
49996,9465,"KUDUS, M.",AFC Ajax,BERGWIJN,ALISSON,Liverpool FC
49997,9477,GIROUD,AC Milan,NaN,"LIVAKOVIC, D.",NK Dinamo
49998,9462,ARTHUR GOMES,Sporting CP,NaN,LLORIS,Tottenham Hotspur FC
49999,9466,"LINDSTROM, J.",Eintracht Frankfurt,NaN,PAU LOPEZ,Olymp . Marseille

In [24]:
Df_5k.shape   #correcto

(50000, 6)

In [25]:
Df_5k.rank().head()

    id_gol  goleador  club_goledor  asistencia  portero  club_portero
0  20008.0    4296.0       14218.0     14049.0  45649.0       23672.0
1  46881.5   27444.5       43331.5     38472.5  29875.5       43287.5
2  15177.5     609.5        7400.0      9671.0  14543.0        4842.0
3  44448.0   29873.0       33571.5     36039.0   4266.5       29831.5
4  18787.5   21348.5       25691.0     34854.5  35346.0        2410.0

In [26]:
print(f'''9459: {Df_5k.loc[Df_5k['id_gol'] == 9459].shape}, 9460: {Df_5k.loc[Df_5k['id_gol'] == 9460].shape}, 9461: {Df_5k.loc[Df_5k['id_gol'] == 9461].shape},
9462: {Df_5k.loc[Df_5k['id_gol'] == 9462].shape}, 9463: {Df_5k.loc[Df_5k['id_gol'] == 9463].shape}, 9464: {Df_5k.loc[Df_5k['id_gol'] == 9464].shape},
9465: {Df_5k.loc[Df_5k['id_gol'] == 9465].shape}, 9466: {Df_5k.loc[Df_5k['id_gol'] == 9466].shape}, 9467: {Df_5k.loc[Df_5k['id_gol'] == 9467].shape},
9468: {Df_5k.loc[Df_5k['id_gol'] == 9468].shape}, 9469: {Df_5k.loc[Df_5k['id_gol'] == 9469].shape}, 9470: {Df_5k.loc[Df_5k['id_gol'] == 9470].shape},
9471: {Df_5k.loc[Df_5k['id_gol'] == 9471].shape}, 9472: {Df_5k.loc[Df_5k['id_gol'] == 9472].shape}, 9473: {Df_5k.loc[Df_5k['id_gol'] == 9473].shape},
9474: {Df_5k.loc[Df_5k['id_gol'] == 9474].shape}, 9475: {Df_5k.loc[Df_5k['id_gol'] == 9475].shape}, 9476: {Df_5k.loc[Df_5k['id_gol'] == 9476].shape},
9477: {Df_5k.loc[Df_5k['id_gol'] == 9477].shape}, 9478: {Df_5k.loc[Df_5k['id_gol'] == 9478].shape}, 9479: {Df_5k.loc[Df_5k['id_gol'] == 9479].shape},
9480: {Df_5k.loc[Df_5k['id_gol'] == 9480].shape}, 9481: {Df_5k.loc[Df_5k['id_gol'] == 9481].shape}, 9482: {Df_5k.loc[Df_5k['id_gol'] == 9482].shape},
9483: {Df_5k.loc[Df_5k['id_gol'] == 9483].shape}, 9484: {Df_5k.loc[Df_5k['id_gol'] == 9484].shape}, 9485: {Df_5k.loc[Df_5k['id_gol'] == 9485].shape},
9486: {Df_5k.loc[Df_5k['id_gol'] == 9486].shape}, 9487: {Df_5k.loc[Df_5k['id_gol'] == 9487].shape}, 9488: {Df_5k.loc[Df_5k['id_gol'] == 9488].shape},
9489: {Df_5k.loc[Df_5k['id_gol'] == 9489].shape}, 9490: {Df_5k.loc[Df_5k['id_gol'] == 9490].shape}, 9491: {Df_5k.loc[Df_5k['id_gol'] == 9491].shape},
9492: {Df_5k.loc[Df_5k['id_gol'] == 9492].shape}, 9493: {Df_5k.loc[Df_5k['id_gol'] == 9493].shape}, 9494: {Df_5k.loc[Df_5k['id_gol'] == 9494].shape},
9495: {Df_5k.loc[Df_5k['id_gol'] == 9495].shape}, 9496: {Df_5k.loc[Df_5k['id_gol'] == 9496].shape}, 9497: {Df_5k.loc[Df_5k['id_gol'] == 9497].shape},
9498: {Df_5k.loc[Df_5k['id_gol'] == 9498].shape}, 9499: {Df_5k.loc[Df_5k['id_gol'] == 9499].shape}
''')

#Aunque es un metodo ineficiente

9459: (1191, 6), 9460: (1177, 6), 9461: (1255, 6),
9462: (1212, 6), 9463: (1211, 6), 9464: (1243, 6),
9465: (1262, 6), 9466: (1189, 6), 9467: (1170, 6),
9468: (1207, 6), 9469: (1206, 6), 9470: (1245, 6),
9471: (1218, 6), 9472: (1223, 6), 9473: (1188, 6),
9474: (1180, 6), 9475: (1261, 6), 9476: (1255, 6),
9477: (1208, 6), 9478: (1231, 6), 9479: (1198, 6),
9480: (1243, 6), 9481: (1206, 6), 9482: (1231, 6),
9483: (1207, 6), 9484: (1222, 6), 9485: (1206, 6),
9486: (1235, 6), 9487: (1230, 6), 9488: (1202, 6),
9489: (1234, 6), 9490: (1189, 6), 9491: (1235, 6),
9492: (1221, 6), 9493: (1204, 6), 9494: (1258, 6),
9495: (1189, 6), 9496: (1235, 6), 9497: (1208, 6),
9498: (1243, 6), 9499: (1272, 6)

In [ ]:
(Df_5k
#asignamos un funcion lambda para agregar una varible portero + equipo
.assign(club_portero = lambda x: x[['portero', 'club_portero']] 
# con .Agg usamos dentro de el metodo .join de cadenas para las comas 
# Ademas con Axis = 1 para cada registro
        .agg(','.join, axis = 1))
#ahora agrupamos goleador + Asistencia
.groupby(['goleador','asistencia'])
#ahora analizamos cuantas veces se repite un portero por la pareja de (groupby)
.club_portero #si lo dejaramos asi nos devuelve un groupby object
# y con estos dos metodo podemos generar la salida que queremos
.value_counts() #hacemos el conteos
.sort_values(ascending=False) #ordenamos
)

goleador        asistencia       club_portero
POBEGA, T.      THEO HDEZ.       LIVAKOVIC, D.,NK Dinamo          1260
SKOV OLSEN      MEIJER , B.      DIOGO COSTA,FC Porto             1256
BONDARENKO, A.  HATATE, R.       TRUBIN, A.,FK Shakhtar           1254
OKAFOR, N.      CHUKWUBUIKE, A.  ARRIZABALAGA,Chelsea FC          1254
MARCO ASENSIO   KROOS            GULACS I, P.,RB Leipzig          1253
LUCAS           KIMMICH, J.      TER STEGEN,FC Barcelona          1253
HALAND , E.     CANCELO, J.      MEYER, A.,BV Borussia            1245
NEYMAR          VERRATT I        COHEN, J.,Maccabi Haifa FC       1243
SOWAH, K.       JUTGLA, F.       DIOGO COSTA,FC Porto             1237
MAT IP          TSIMIKAS, K.     PASVEER, R.,AFC Ajax             1236
MUDRYK, M.      SUDAKOV, H.      HART, J.,Celtic FC               1233
DIABY , M.      FRIMPONG, J.     GRBIC, l.,Atlético Madrid        1232
STERLING        AUBA MEYANG      KOHN, P.,Red Bull Salzb.         1232
DUMFRIES, D.    DZEKO            STANEK, J.,FC Viktoria Plzen     1230
STONES, J.      DE BRUYNE        MEYER, A.,BV Borussia            1227
SALAH           JOTA, D.         PASVEER, R.,AFC Ajax             1225
NDOMBELE, T.    Z. ANGUISSA      MCGREGOR,Rangers FC              1224
ORSIC, M.       PETKOVIC, B.     MAIGNAN, M.,AC Milan             1220
NORDBY, A.      NIELSEN, C.      DIOGO COSTA,FC Porto             1219
DZEKO           CORREA, CJ.      STANEK, J.,FC Viktoria Plzen     1216
BELLINGHAM      REUS             EDERSON S.,Manchester City FC    1213
RASPADO R!, G.  OLIVERA , M.     MCGREGOR,Rangers FC              1213
ANDRICH, R.     FRIMPONG, J.     GRBIC, l.,Atlético Madrid        1212
MILIK           PAREDES, L.      VLACHOD IMOS,SL Benfica          1210
KUDUS, M.       BERGWIJN         ALISSON,Liverpool FC             1201
PAULINHO J.     GONCALVES, P.    LLORIS,Tottenham Hotspur FC      1199
VALVERDE D.     VINICIUS JR.     GULACS I, P.,RB Leipzig          1195
MBAPPE, K.      MESSI            COHEN, J.,Maccabi Haifa FC       1187
CHERY, T.       HAZIZA , D.      DONNARUMMA , G.,PSG FC           1179
SAELEMAEKERS    RAIFAEL LEAO     LIVAKOVIC, D.,NK Dinamo          1177
GNABRY          GORETZKA         TVRDON, M.,FC Viktoria Plzen     1173
SANE, L.        MIUSIALA, J.     TER STEGEN,FC Barcelona          1172
Name: club_portero, dtype: int64

# Analisis extra

In [ ]:
Df_5k.head(5)

,id_gol,goleador,club_goledor,asistencia,portero,club_portero
0,9499,GNABRY,Bayern München,GORETZKA,"TVRDON, M.",FC Viktoria Plzen
1,9474,MAT IP,Liverpool FC,"TSIMIKAS, K.","PASVEER, R.",AFC Ajax
2,9497,"NDOMBELE, T.",SSC Napoli,Z. ANGUISSA,MCGREGOR,Rangers FC
3,9470,"SANE, L.",Bayern München,"MIUSIALA, J.",TER STEGEN,FC Barcelona
4,9472,"DIABY , M.",Bayer Leverkusen,"FRIMPONG, J.","GRBIC, l.",Atlético Madrid

In [ ]:
Df_5k.groupby(['goleador','asistencia']).portero.value_counts().sort_values(ascending = False)

goleador        asistencia       portero
POBEGA, T.      THEO HDEZ.       LIVAKOVIC, D.      1260
SKOV OLSEN      MEIJER , B.      DIOGO COSTA        1256
BONDARENKO, A.  HATATE, R.       TRUBIN, A.         1254
OKAFOR, N.      CHUKWUBUIKE, A.  ARRIZABALAGA       1254
MARCO ASENSIO   KROOS            GULACS I, P.       1253
LUCAS           KIMMICH, J.      TER STEGEN         1253
HALAND , E.     CANCELO, J.      MEYER, A.          1245
NEYMAR          VERRATT I        COHEN, J.          1243
SOWAH, K.       JUTGLA, F.       DIOGO COSTA        1237
MAT IP          TSIMIKAS, K.     PASVEER, R.        1236
MUDRYK, M.      SUDAKOV, H.      HART, J.           1233
DIABY , M.      FRIMPONG, J.     GRBIC, l.          1232
STERLING        AUBA MEYANG      KOHN, P.           1232
DUMFRIES, D.    DZEKO            STANEK, J.         1230
STONES, J.      DE BRUYNE        MEYER, A.          1227
SALAH           JOTA, D.         PASVEER, R.        1225
NDOMBELE, T.    Z. ANGUISSA      MCGREGOR           1224
ORSIC, M.       PETKOVIC, B.     MAIGNAN, M.        1220
NORDBY, A.      NIELSEN, C.      DIOGO COSTA        1219
DZEKO           CORREA, CJ.      STANEK, J.         1216
BELLINGHAM      REUS             EDERSON S.         1213
RASPADO R!, G.  OLIVERA , M.     MCGREGOR           1213
ANDRICH, R.     FRIMPONG, J.     GRBIC, l.          1212
MILIK           PAREDES, L.      VLACHOD IMOS       1210
KUDUS, M.       BERGWIJN         ALISSON            1201
PAULINHO J.     GONCALVES, P.    LLORIS             1199
VALVERDE D.     VINICIUS JR.     GULACS I, P.       1195
MBAPPE, K.      MESSI            COHEN, J.          1187
CHERY, T.       HAZIZA , D.      DONNARUMMA , G.    1179
SAELEMAEKERS    RAIFAEL LEAO     LIVAKOVIC, D.      1177
GNABRY          GORETZKA         TVRDON, M.         1173
SANE, L.        MIUSIALA, J.     TER STEGEN         1172
Name: portero, dtype: int64

In [ ]:
Df_5k[['goleador','asistencia','portero']].rank() #analisis de negocio

       goleador  asistencia  portero
0       11475.0     12835.0  47601.0
1       21353.5     34800.5  35385.0
2       27434.5     38468.5  29854.5
3       42664.5     23851.5  43945.0
4        6638.5      9827.5  14683.5
5        4216.5     14048.5  45784.5
...         ...         ...      ...
49994   37251.0         NaN  29854.5
49995   13911.5         NaN  39081.5
49996   49403.0     37259.0  17129.5
49997   12684.0      3056.0  32918.5
49998   27434.5     38468.5  29854.5
49999   31099.0     25047.0   8588.0

[50000 rows x 3 columns]

In [ ]:
Df_5k.query('goleador == "SAELEMAEKERS"')

,id_gol,goleador,club_goledor,asistencia,portero,club_portero
24,9478,SAELEMAEKERS,AC Milan,RAIFAEL LEAO,"LIVAKOVIC, D.",NK Dinamo
37,9478,SAELEMAEKERS,AC Milan,RAIFAEL LEAO,"LIVAKOVIC, D.",NK Dinamo
87,9478,SAELEMAEKERS,AC Milan,RAIFAEL LEAO,"LIVAKOVIC, D.",NK Dinamo
94,9478,SAELEMAEKERS,AC Milan,RAIFAEL LEAO,"LIVAKOVIC, D.",NK Dinamo
111,9478,SAELEMAEKERS,AC Milan,RAIFAEL LEAO,"LIVAKOVIC, D.",NK Dinamo
161,9478,SAELEMAEKERS,AC Milan,RAIFAEL LEAO,"LIVAKOVIC, D.",NK Dinamo
...,...,...,...,...,...,...
49782,9478,SAELEMAEKERS,AC Milan,RAIFAEL LEAO,"LIVAKOVIC, D.",NK Dinamo
49819,9478,SAELEMAEKERS,AC Milan,RAIFAEL LEAO,"LIVAKOVIC, D.",NK Dinamo
49843,9478,SAELEMAEKERS,AC Milan,RAIFAEL LEAO,"LIVAKOVIC, D.",NK Dinamo
49852,9478,SAELEMAEKERS,AC Milan,RAIFAEL LEAO,"LIVAKOVIC, D.",NK Dinamo
49872,9478,SAELEMAEKERS,AC Milan,RAIFAEL LEAO,"LIVAKOVIC, D.",NK Dinamo
49923,9478,SAELEMAEKERS,AC Milan,RAIFAEL LEAO,"LIVAKOVIC, D.",NK Dinamo