<a href="https://colab.research.google.com/github/N1colasFD/Data_science_aplicada_reto_twitter/blob/main/Reto_mr_chips.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aplicando Data science a este reto

Imagina 50.000 goles almacenados así

Busco la pareja goleador-asistente que más veces le marcó a un mismo portero de un mismo equipo

https://twitter.com/dgomezb10/status/1583553562939793410

In [ ]:
#importacion archivo
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
%matplotlib inline
pd.options.display.min_rows = 12

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/Programacion/Bases de datos/Reto_mr_chips_twitter.xlsx')
df.head(41)

,ID GOL,GOLEADOR,club_goledor,asistencia,portero,club_portero
0,9459,DZEKO,lnter Milan,"CORREA, CJ.","STANEK, J.",FC Viktoria Plzen
1,9460,"DUMFRIES, D.",lnter Milan,DZEKO,"STANEK, J.",FC Viktoria Plzen
2,9461,PAULINHO J.,Sporting CP,"GONCALVES, P.",LLORIS,Tottenham Hotspur FC
3,9462,ARTHUR GOMES,Sporting CP,NaN,LLORIS,Tottenham Hotspur FC
4,9463,"JUTGLA, F.",Club Brugge KV,NaN,DIOGO COSTA,FC Porto
5,9464,SALAH,Liverpool FC,"JOTA, D.","PASVEER, R.",AFC Ajax
6,9465,"KUDUS, M.",AFC Ajax,BERGWIJN,ALISSON,Liverpool FC
7,9466,"LINDSTROM, J.",Eintracht Frankfurt,NaN,PAU LOPEZ,Olymp . Marseille
8,9467,"SOWAH, K.",Club Brugge KV,"JUTGLA, F.",DIOGO COSTA,FC Porto
9,9468,LUCAS,Bayern München,"KIMMICH, J.",TER STEGEN,FC Barcelona
10,9469,SKOV OLSEN,Club Brugge KV,"MEIJER , B.",DIOGO COSTA,FC Porto
11,9470,"SANE, L.",Bayern München,"MIUSIALA, J.",TER STEGEN,FC Barcelona
12,9471,"ANDRICH, R.",Bayer Leverkusen,"FRIMPONG, J.","GRBIC, l.",Atlético Madrid
13,9472,"DIABY , M.",Bayer Leverkusen,"FRIMPONG, J.","GRBIC, l.",Atlético Madrid
14,9473,"NORDBY, A.",Club Brugge KV,"NIELSEN, C.",DIOGO COSTA,FC Porto
15,9474,MAT IP,Liverpool FC,"TSIMIKAS, K.","PASVEER, R.",AFC Ajax
16,9475,"BONDARENKO, A.",Celtic FC,"HATATE, R.","TRUBIN, A.",FK Shakhtar
17,9476,"MUDRYK, M.",FK Shakhtar,"SUDAKOV, H.","HART, J.",Celtic FC
18,9477,GIROUD,AC Milan,NaN,"LIVAKOVIC, D.",NK Dinamo
19,9478,SAELEMAEKERS,AC Milan,RAIFAEL LEAO,"LIVAKOVIC, D.",NK Dinamo
20,9479,"ORSIC, M.",NK Dinamo,"PETKOVIC, B.","MAIGNAN, M.",AC Milan
21,9480,"POBEGA, T.",AC Milan,THEO HDEZ.,"LIVAKOVIC, D.",NK Dinamo
22,9481,MILIK,Juventus FC,"PAREDES, L.",VLACHOD IMOS,SL Benfica
23,9482,"CHERY, T.",Maccabi Haifa FC,"HAZIZA , D.","DONNARUMMA , G.",PSG FC
24,9483,MESSI,PSG FC,NaN,"COHEN, J.",Maccabi Haifa FC
25,9484,JOAO MARIO,SL Benfica,NaN,"PERIN, M.",Juventus FC
26,9485,STERLING,Chelsea FC,AUBA MEYANG,"KOHN, P.",Red Bull Salzb.
27,9486,BELLINGHAM,BV Borussia,REUS,EDERSON S.,Manchester City FC
28,9487,"NERES, D.",SL Benfica,NaN,"PERIN, M.",Juventus FC
29,9488,"POLITANO, M.",SSC Napoli,NaN,MCGREGOR,Rangers FC
30,9489,"MBAPPE, K.",PSG FC,MESSI,"COHEN, J.",Maccabi Haifa FC
31,9490,"OKAFOR, N.",Red Bull Salzb.,"CHUKWUBUIKE, A.",ARRIZABALAGA,Chelsea FC
32,9491,VALVERDE D.,Real Madrid CF,VINICIUS JR.,"GULACS I, P.",RB Leipzig
33,9492,"STONES, J.",Manchester City FC,DE BRUYNE,"MEYER, A.",BV Borussia
34,9493,"HALAND , E.",Manchester City FC,"CANCELO, J.","MEYER, A.",BV Borussia
35,9494,"RASPADO R!, G.",SSC Napoli,"OLIVERA , M.",MCGREGOR,Rangers FC
36,9495,NEYMAR,PSG FC,VERRATT I,"COHEN, J.",Maccabi Haifa FC
37,9496,MARCO ASENSIO,Real Madrid CF,KROOS,"GULACS I, P.",RB Leipzig
38,9497,"NDOMBELE, T.",SSC Napoli,Z. ANGUISSA,MCGREGOR,Rangers FC
39,9498,"SANE, L.",Bayern München,NaN,"TVRDON, M.",FC Viktoria Plzen
40,9499,GNABRY,Bayern München,GORETZKA,"TVRDON, M.",FC Viktoria Plzen

In [ ]:
df.groupby(['GOLEADOR','asistencia']) #explicacion mas adelante

In [ ]:
#como en el Dataset original no existen 'repetidos' solo saldran valores en 1 
df.groupby(['GOLEADOR','asistencia']).portero.value_counts().sort_values(ascending = False)

GOLEADOR        asistencia       portero
ANDRICH, R.     FRIMPONG, J.     GRBIC, l.          1
BELLINGHAM      REUS             EDERSON S.         1
STONES, J.      DE BRUYNE        MEYER, A.          1
STERLING        AUBA MEYANG      KOHN, P.           1
SOWAH, K.       JUTGLA, F.       DIOGO COSTA        1
SKOV OLSEN      MEIJER , B.      DIOGO COSTA        1
SANE, L.        MIUSIALA, J.     TER STEGEN         1
SALAH           JOTA, D.         PASVEER, R.        1
SAELEMAEKERS    RAIFAEL LEAO     LIVAKOVIC, D.      1
RASPADO R!, G.  OLIVERA , M.     MCGREGOR           1
POBEGA, T.      THEO HDEZ.       LIVAKOVIC, D.      1
PAULINHO J.     GONCALVES, P.    LLORIS             1
ORSIC, M.       PETKOVIC, B.     MAIGNAN, M.        1
OKAFOR, N.      CHUKWUBUIKE, A.  ARRIZABALAGA       1
NORDBY, A.      NIELSEN, C.      DIOGO COSTA        1
NEYMAR          VERRATT I        COHEN, J.          1
NDOMBELE, T.    Z. ANGUISSA      MCGREGOR           1
MUDRYK, M.      SUDAKOV, H.      HART, J.           1
MILIK           PAREDES, L.      VLACHOD IMOS       1
MBAPPE, K.      MESSI            COHEN, J.          1
MAT IP          TSIMIKAS, K.     PASVEER, R.        1
MARCO ASENSIO   KROOS            GULACS I, P.       1
LUCAS           KIMMICH, J.      TER STEGEN         1
KUDUS, M.       BERGWIJN         ALISSON            1
HALAND , E.     CANCELO, J.      MEYER, A.          1
GNABRY          GORETZKA         TVRDON, M.         1
DZEKO           CORREA, CJ.      STANEK, J.         1
DUMFRIES, D.    DZEKO            STANEK, J.         1
DIABY , M.      FRIMPONG, J.     GRBIC, l.          1
CHERY, T.       HAZIZA , D.      DONNARUMMA , G.    1
BONDARENKO, A.  HATATE, R.       TRUBIN, A.         1
VALVERDE D.     VINICIUS JR.     GULACS I, P.       1
Name: portero, dtype: int64

Como la tabla solo tiene 40 registros, realizaremos un codigo para aumentar aleatoriamente los datos a 50.000 ⚾

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID GOL        41 non-null     int64
 1   GOLEADOR      41 non-null     object
 2   club_goledor  41 non-null     object
 3   asistencia    32 non-null     object
 4   portero       41 non-null     object
 5   club_portero  41 non-null     object
dtypes: int64(1), object(5)
memory usage: 2.0+ KB

In [ ]:
#1. Renombremos unas variables
df.rename(columns = {'ID GOL':'id_gol',
          'GOLEADOR':'goleador'}, inplace = True)

#podriamos usar Janitor, pero no son muchas variables, asi pues usaremos un metodo mas 'simple'

In [ ]:
df.head(2)

,id_gol,goleador,club_goledor,asistencia,portero,club_portero
0,9459,DZEKO,lnter Milan,"CORREA, CJ.","STANEK, J.",FC Viktoria Plzen
1,9460,"DUMFRIES, D.",lnter Milan,DZEKO,"STANEK, J.",FC Viktoria Plzen

In [ ]:
#2. Realizamos una inspeccion del tipo de variable. 
df.dtypes
# Todo bien

id_gol           int64
goleador        object
club_goledor    object
asistencia      object
portero         object
club_portero    object
dtype: object

In [ ]:
#3. Comprobamos si los nulos afectaran nuestro diagnostico
df.isna().mean().sort_values(ascending = False) * 100
#todo bien

asistencia      21.95122
id_gol           0.00000
goleador         0.00000
club_goledor     0.00000
portero          0.00000
club_portero     0.00000
dtype: float64

## podriamos quedarnos realizando Calidad de los datos pero por ahora pasemos al codigo que multiplicara el dataframe

In [ ]:
from random import sample

#creamos un nuevo DataFrame
Df_5k = pd.DataFrame()

In [ ]:
#Creamos un ciclo FOR que recorra el df original 5000
for i in range(5000):
#usamos la funcion concat y sample Dejo la documentacion
  Df_5k = pd.concat([Df_5k, df.sample(10)], ignore_index = True)

https://www.geeksforgeeks.org/python-random-sample-function/

In [ ]:
Df_5k

,id_gol,goleador,club_goledor,asistencia,portero,club_portero
0,9498,"SANE, L.",Bayern München,NaN,"TVRDON, M.",FC Viktoria Plzen
1,9462,ARTHUR GOMES,Sporting CP,NaN,LLORIS,Tottenham Hotspur FC
2,9493,"HALAND , E.",Manchester City FC,"CANCELO, J.","MEYER, A.",BV Borussia
3,9467,"SOWAH, K.",Club Brugge KV,"JUTGLA, F.",DIOGO COSTA,FC Porto
4,9464,SALAH,Liverpool FC,"JOTA, D.","PASVEER, R.",AFC Ajax
5,9479,"ORSIC, M.",NK Dinamo,"PETKOVIC, B.","MAIGNAN, M.",AC Milan
...,...,...,...,...,...,...
49994,9468,LUCAS,Bayern München,"KIMMICH, J.",TER STEGEN,FC Barcelona
49995,9488,"POLITANO, M.",SSC Napoli,NaN,MCGREGOR,Rangers FC
49996,9476,"MUDRYK, M.",FK Shakhtar,"SUDAKOV, H.","HART, J.",Celtic FC
49997,9487,"NERES, D.",SL Benfica,NaN,"PERIN, M.",Juventus FC
49998,9470,"SANE, L.",Bayern München,"MIUSIALA, J.",TER STEGEN,FC Barcelona
49999,9473,"NORDBY, A.",Club Brugge KV,"NIELSEN, C.",DIOGO COSTA,FC Porto

In [ ]:
Df_5k.shape   #correcto

(50000, 6)

In [ ]:
Df_5k.rank().head()

    id_gol  goleador  club_goledor  asistencia  portero  club_portero
0  48094.0   42618.5       11057.0         NaN  47532.0       20639.5
1   4199.5    1790.5       46395.0         NaN  25713.0       48806.0
2  41985.5   12916.5       29372.0      3087.5  33003.0        7254.0
3  10225.5   45647.5       18512.5     17795.5   8602.5       15709.5
4   6595.0   40833.0       25729.0     16586.0  35413.0        2408.0

In [ ]:
print(f'''9459: {Df_5k.loc[Df_5k['id_gol'] == 9459].shape}, 9460: {Df_5k.loc[Df_5k['id_gol'] == 9460].shape}, 9461: {Df_5k.loc[Df_5k['id_gol'] == 9461].shape},
9462: {Df_5k.loc[Df_5k['id_gol'] == 9462].shape}, 9463: {Df_5k.loc[Df_5k['id_gol'] == 9463].shape}, 9464: {Df_5k.loc[Df_5k['id_gol'] == 9464].shape},
9465: {Df_5k.loc[Df_5k['id_gol'] == 9465].shape}, 9466: {Df_5k.loc[Df_5k['id_gol'] == 9466].shape}, 9467: {Df_5k.loc[Df_5k['id_gol'] == 9467].shape},
9468: {Df_5k.loc[Df_5k['id_gol'] == 9468].shape}, 9469: {Df_5k.loc[Df_5k['id_gol'] == 9469].shape}, 9470: {Df_5k.loc[Df_5k['id_gol'] == 9470].shape},
9471: {Df_5k.loc[Df_5k['id_gol'] == 9471].shape}, 9472: {Df_5k.loc[Df_5k['id_gol'] == 9472].shape}, 9473: {Df_5k.loc[Df_5k['id_gol'] == 9473].shape},
9474: {Df_5k.loc[Df_5k['id_gol'] == 9474].shape}, 9475: {Df_5k.loc[Df_5k['id_gol'] == 9475].shape}, 9476: {Df_5k.loc[Df_5k['id_gol'] == 9476].shape},
9477: {Df_5k.loc[Df_5k['id_gol'] == 9477].shape}, 9478: {Df_5k.loc[Df_5k['id_gol'] == 9478].shape}, 9479: {Df_5k.loc[Df_5k['id_gol'] == 9479].shape},
9480: {Df_5k.loc[Df_5k['id_gol'] == 9480].shape}, 9481: {Df_5k.loc[Df_5k['id_gol'] == 9481].shape}, 9482: {Df_5k.loc[Df_5k['id_gol'] == 9482].shape},
9483: {Df_5k.loc[Df_5k['id_gol'] == 9483].shape}, 9484: {Df_5k.loc[Df_5k['id_gol'] == 9484].shape}, 9485: {Df_5k.loc[Df_5k['id_gol'] == 9485].shape},
9486: {Df_5k.loc[Df_5k['id_gol'] == 9486].shape}, 9487: {Df_5k.loc[Df_5k['id_gol'] == 9487].shape}, 9488: {Df_5k.loc[Df_5k['id_gol'] == 9488].shape},
9489: {Df_5k.loc[Df_5k['id_gol'] == 9489].shape}, 9490: {Df_5k.loc[Df_5k['id_gol'] == 9490].shape}, 9491: {Df_5k.loc[Df_5k['id_gol'] == 9491].shape},
9492: {Df_5k.loc[Df_5k['id_gol'] == 9492].shape}, 9493: {Df_5k.loc[Df_5k['id_gol'] == 9493].shape}, 9494: {Df_5k.loc[Df_5k['id_gol'] == 9494].shape},
9495: {Df_5k.loc[Df_5k['id_gol'] == 9495].shape}, 9496: {Df_5k.loc[Df_5k['id_gol'] == 9496].shape}, 9497: {Df_5k.loc[Df_5k['id_gol'] == 9497].shape},
9498: {Df_5k.loc[Df_5k['id_gol'] == 9498].shape}, 9499: {Df_5k.loc[Df_5k['id_gol'] == 9499].shape}
''')

#Aunque es un metodo ineficiente

9459: (1199, 6), 9460: (1212, 6), 9461: (1187, 6),
9462: (1202, 6), 9463: (1204, 6), 9464: (1181, 6),
9465: (1207, 6), 9466: (1214, 6), 9467: (1238, 6),
9468: (1215, 6), 9469: (1215, 6), 9470: (1173, 6),
9471: (1189, 6), 9472: (1247, 6), 9473: (1277, 6),
9474: (1186, 6), 9475: (1259, 6), 9476: (1141, 6),
9477: (1230, 6), 9478: (1229, 6), 9479: (1224, 6),
9480: (1258, 6), 9481: (1211, 6), 9482: (1233, 6),
9483: (1234, 6), 9484: (1172, 6), 9485: (1278, 6),
9486: (1245, 6), 9487: (1234, 6), 9488: (1179, 6),
9489: (1221, 6), 9490: (1233, 6), 9491: (1207, 6),
9492: (1249, 6), 9493: (1204, 6), 9494: (1233, 6),
9495: (1240, 6), 9496: (1192, 6), 9497: (1233, 6),
9498: (1217, 6), 9499: (1298, 6)

In [ ]:
(Df_5k
#asignamos un funcion lambda para agregar una varible portero + equipo
.assign(club_portero = lambda x: x[['portero', 'club_portero']] 
# con .Agg usamos dentro de el metodo .join de cadenas para las comas 
# Ademas con Axis = 1 para cada registro
        .agg(','.join, axis = 1))
#ahora agrupamos goleador + Asistencia
.groupby(['goleador','asistencia'])
#ahora analizamos cuantas veces se repite un portero por la pareja de (groupby)
.club_portero #si lo dejaramos asi nos devuelve un groupby object
# y con estos dos metodo podemos generar la salida que queremos
.value_counts() #hacemos el conteos
.sort_values(ascending=False) #ordenamos
)

goleador        asistencia       club_portero
GNABRY          GORETZKA         TVRDON, M.,FC Viktoria Plzen     1298
STERLING        AUBA MEYANG      KOHN, P.,Red Bull Salzb.         1278
NORDBY, A.      NIELSEN, C.      DIOGO COSTA,FC Porto             1277
BONDARENKO, A.  HATATE, R.       TRUBIN, A.,FK Shakhtar           1259
POBEGA, T.      THEO HDEZ.       LIVAKOVIC, D.,NK Dinamo          1258
STONES, J.      DE BRUYNE        MEYER, A.,BV Borussia            1249
DIABY , M.      FRIMPONG, J.     GRBIC, l.,Atlético Madrid        1247
BELLINGHAM      REUS             EDERSON S.,Manchester City FC    1245
NEYMAR          VERRATT I        COHEN, J.,Maccabi Haifa FC       1240
SOWAH, K.       JUTGLA, F.       DIOGO COSTA,FC Porto             1238
NDOMBELE, T.    Z. ANGUISSA      MCGREGOR,Rangers FC              1233
RASPADO R!, G.  OLIVERA , M.     MCGREGOR,Rangers FC              1233
CHERY, T.       HAZIZA , D.      DONNARUMMA , G.,PSG FC           1233
OKAFOR, N.      CHUKWUBUIKE, A.  ARRIZABALAGA,Chelsea FC          1233
SAELEMAEKERS    RAIFAEL LEAO     LIVAKOVIC, D.,NK Dinamo          1229
ORSIC, M.       PETKOVIC, B.     MAIGNAN, M.,AC Milan             1224
MBAPPE, K.      MESSI            COHEN, J.,Maccabi Haifa FC       1221
SKOV OLSEN      MEIJER , B.      DIOGO COSTA,FC Porto             1215
LUCAS           KIMMICH, J.      TER STEGEN,FC Barcelona          1215
DUMFRIES, D.    DZEKO            STANEK, J.,FC Viktoria Plzen     1212
MILIK           PAREDES, L.      VLACHOD IMOS,SL Benfica          1211
VALVERDE D.     VINICIUS JR.     GULACS I, P.,RB Leipzig          1207
KUDUS, M.       BERGWIJN         ALISSON,Liverpool FC             1207
HALAND , E.     CANCELO, J.      MEYER, A.,BV Borussia            1204
DZEKO           CORREA, CJ.      STANEK, J.,FC Viktoria Plzen     1199
MARCO ASENSIO   KROOS            GULACS I, P.,RB Leipzig          1192
ANDRICH, R.     FRIMPONG, J.     GRBIC, l.,Atlético Madrid        1189
PAULINHO J.     GONCALVES, P.    LLORIS,Tottenham Hotspur FC      1187
MAT IP          TSIMIKAS, K.     PASVEER, R.,AFC Ajax             1186
SALAH           JOTA, D.         PASVEER, R.,AFC Ajax             1181
SANE, L.        MIUSIALA, J.     TER STEGEN,FC Barcelona          1173
MUDRYK, M.      SUDAKOV, H.      HART, J.,Celtic FC               1141
Name: club_portero, dtype: int64

# Analisis extra

In [ ]:
Df_5k.head(5)

,id_gol,goleador,club_goledor,asistencia,portero,club_portero
0,9498,"SANE, L.",Bayern München,NaN,"TVRDON, M.",FC Viktoria Plzen
1,9462,ARTHUR GOMES,Sporting CP,NaN,LLORIS,Tottenham Hotspur FC
2,9493,"HALAND , E.",Manchester City FC,"CANCELO, J.","MEYER, A.",BV Borussia
3,9467,"SOWAH, K.",Club Brugge KV,"JUTGLA, F.",DIOGO COSTA,FC Porto
4,9464,SALAH,Liverpool FC,"JOTA, D.","PASVEER, R.",AFC Ajax

In [ ]:
Df_5k.groupby(['goleador','asistencia']).portero.value_counts().sort_values(ascending = False)

goleador        asistencia       portero
GNABRY          GORETZKA         TVRDON, M.         1298
STERLING        AUBA MEYANG      KOHN, P.           1278
NORDBY, A.      NIELSEN, C.      DIOGO COSTA        1277
BONDARENKO, A.  HATATE, R.       TRUBIN, A.         1259
POBEGA, T.      THEO HDEZ.       LIVAKOVIC, D.      1258
STONES, J.      DE BRUYNE        MEYER, A.          1249
DIABY , M.      FRIMPONG, J.     GRBIC, l.          1247
BELLINGHAM      REUS             EDERSON S.         1245
NEYMAR          VERRATT I        COHEN, J.          1240
SOWAH, K.       JUTGLA, F.       DIOGO COSTA        1238
NDOMBELE, T.    Z. ANGUISSA      MCGREGOR           1233
RASPADO R!, G.  OLIVERA , M.     MCGREGOR           1233
CHERY, T.       HAZIZA , D.      DONNARUMMA , G.    1233
OKAFOR, N.      CHUKWUBUIKE, A.  ARRIZABALAGA       1233
SAELEMAEKERS    RAIFAEL LEAO     LIVAKOVIC, D.      1229
ORSIC, M.       PETKOVIC, B.     MAIGNAN, M.        1224
MBAPPE, K.      MESSI            COHEN, J.          1221
SKOV OLSEN      MEIJER , B.      DIOGO COSTA        1215
LUCAS           KIMMICH, J.      TER STEGEN         1215
DUMFRIES, D.    DZEKO            STANEK, J.         1212
MILIK           PAREDES, L.      VLACHOD IMOS       1211
VALVERDE D.     VINICIUS JR.     GULACS I, P.       1207
KUDUS, M.       BERGWIJN         ALISSON            1207
HALAND , E.     CANCELO, J.      MEYER, A.          1204
DZEKO           CORREA, CJ.      STANEK, J.         1199
MARCO ASENSIO   KROOS            GULACS I, P.       1192
ANDRICH, R.     FRIMPONG, J.     GRBIC, l.          1189
PAULINHO J.     GONCALVES, P.    LLORIS             1187
MAT IP          TSIMIKAS, K.     PASVEER, R.        1186
SALAH           JOTA, D.         PASVEER, R.        1181
SANE, L.        MIUSIALA, J.     TER STEGEN         1173
MUDRYK, M.      SUDAKOV, H.      HART, J.           1141
Name: portero, dtype: int64

In [ ]:
Df_5k[['goleador','asistencia','portero']].rank() #analisis de negocio

       goleador  asistencia  portero
0       42618.5         NaN  47532.0
1        1790.5         NaN  25713.0
2       12916.5      3087.5  33003.0
3       45647.5     17795.5   8602.5
4       40833.0     16586.0  35413.0
5       33544.5     28763.5  27519.5
...         ...         ...      ...
49994   18923.0     19022.0  43821.5
49995   37191.0         NaN  29954.0
49996   26145.0     32420.0  18953.0
49997   28565.5         NaN  39013.5
49998   42618.5     23844.0  43821.5
49999   31061.0     25069.0   8602.5

[50000 rows x 3 columns]