<a href="https://colab.research.google.com/github/N1colasFD/Data_science_aplicada_reto_twitter/blob/main/Reto_mr_chips.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Aplicando Data science a este reto

Imagina 50.000 goles almacenados así

Busco la pareja goleador-asistente que más veces le marcó a un mismo portero de un mismo equipo

In [9]:
#importacion archivo
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [10]:
import pandas as pd

In [12]:
%matplotlib inline
pd.options.display.min_rows = 4

In [13]:
df = pd.read_excel('/content/drive/MyDrive/Programacion/Bases de datos/Reto_mr_chips_twitter.xlsx')
df.head(6)

,ID GOL,GOLEADOR,club_goledor,asistencia,portero,club_portero
0,9459,DZEKO,lnter Milan,"CORREA, CJ.","STANEK, J.",FC Viktoria Plzen
1,9460,"DUMFRIES, D.",lnter Milan,DZEKO,"STANEK, J.",FC Viktoria Plzen
2,9461,PAULINHO J.,Sporting CP,"GONCALVES, P.",LLORIS,Tottenham Hotspur FC
3,9462,ARTHUR GOMES,Sporting CP,NaN,LLORIS,Tottenham Hotspur FC
4,9463,"JUTGLA, F.",Club Brugge KV,NaN,DIOGO COSTA,FC Porto
5,9464,SALAH,Liverpool FC,"JOTA, D.","PASVEER, R.",AFC Ajax

Como la tabla solo tiene 40 registros, realizaremos un codigo para aumentar aleatoriamente los datos a 50.000 ⚾

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID GOL        41 non-null     int64
 1   GOLEADOR      41 non-null     object
 2   club_goledor  41 non-null     object
 3   asistencia    32 non-null     object
 4   portero       41 non-null     object
 5   club_portero  41 non-null     object
dtypes: int64(1), object(5)
memory usage: 2.0+ KB

In [15]:
#1. Renombremos unas variables
df.rename(columns = {'ID GOL':'id_gol',
          'GOLEADOR':'goleador'}, inplace = True)

#podriamos usar Janitor, pero no son muchas variables, asi pues usaremos un metodo mas 'simple'

In [17]:
df.head(2)

,id_gol,goleador,club_goledor,asistencia,portero,club_portero
0,9459,DZEKO,lnter Milan,"CORREA, CJ.","STANEK, J.",FC Viktoria Plzen
1,9460,"DUMFRIES, D.",lnter Milan,DZEKO,"STANEK, J.",FC Viktoria Plzen